# Auto detect text files and perform LF normalization
*                 text=auto

# Source code
*.html            text diff=html
*.json            text

# Documentation
*.md              text diff=markdown
*COPYRIGHT*       text
*README*          text
AUTHORS           text
CHANGELOG         text
CHANGES           text
CONTRIBUTING      text
COPYING           text
copyright         text
INSTALL           text
license           text
LICENSE           text
NEWS              text
readme            text
TODO              text

# Configs
.editorconfig     text
.gitattributes    text
.gitignore        text
.gitconfig        text

# Archives
*.zip             binary


# Exclude files from exporting
.gitattributes    export-ignore
.gitignore        export-ignore
